section{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
}

.sidenav{
  height: 100vh;
  min-width: 140px;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: #F9F9F9;
  /* border-right: 1.5px solid #BDBDBD; */
  box-shadow: 0px 31vh 3px #F9F9F9;
}

.container-par{
  height: 100vh;
  width: -webkit-fill-available;
}

.nav{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.nav-item{
  min-height: 140px;
  min-width: 140px;
}

.flex-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 100vh;
  width: -webkit-fill-available;
}

.card{
  width: 300px;
  height: 50vh;
  background: #F9F9F9;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  font-weight: 500;
  letter-spacing: 3px;
  animation: 0.2s ease-out 0s 1 slideInFromLeft;
}

@keyframes slideInFromLeft {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.splash{
  height: 30%;
  background: #1E346F;
  box-shadow: 1px 1px 1px #1E346F;
  position: fixed;
  width: 100%;
  z-index: -9999;
}

.upload-logo{
  height: 100px;
  opacity: 0.6;
}

.loading{
  height: 100px;
}

a{
  text-decoration: none;
  color: #070707;
}

.page-title{
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: white;
  font-weight: 500;
}

/* Overview.js */

.overview{
  height: 100%;
  width: auto;
  min-width: 100%;
  overflow-y: auto;
}

.table-cont{
  background: white;
  min-height: 100px;
  border-radius: 1px;
  margin: 0px 100px 20px 100px;
  box-shadow: 0px 0px 5px rgba(172, 172, 172, 0.38);
}

.table-cont table{
  width: 100%;
  height: auto;
  margin: 20px;
  border: none;
  border-radius: 5px;
  border-collapse: collapse;
}

.table-cont td{
  text-align: center;
}

.table-cont th{
  height: 40px;
  font-size: 1rem;
  font-weight: 450;
}

.table-cont thead{
  background: rgb(121, 121, 121);
  border: none;
  height: auto;
}

.table-head{
  background: #1E346F;
  color: white;
}

.table-row{
  background: whitesmoke;
  border-top: white solid 5px;
  height: 30px;
}

.flex-column{
  display: flex;
  flex-direction: column;
}




/* Transform.js */

.transform{
  width: 100%;
  height: -webkit-fill-available;
  margin: 50px 0px;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.selector-col{
  height: 100vh;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 100px;
}

.selector-row{
  min-height: 150px;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.25);
  width: 100%;
  background: #F9F9F9;
  border-radius: 5px;
  margin: 20px 0px;
}

.overview-col{
  width: 80%;
}

.selector-label{
  width: -webkit-fill-available;
  height: 50%;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: 500;
}

.selector-input{
  width: -webkit-fill-available;
  height: 30%;
}

.selector-input select{
  height: 35px;
  width: 70%;
  border-radius: 5px;
}

option{
  background: #F9F9F9;
  border-radius: 2px;
  margin: 2px 0px;
}

.selector-btn{
  background: #1E346F;
  width: 95%;
  min-height: 40px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px #1E346F;
  color: white;
  font-weight: 400;
  font-size: 0.9rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: #1E346F solid 1px; 
}

.overview-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overview-col .table-cont {
    min-height: 300px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f9f9f9;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.25);
}

/* Visualize.js */

.chart-cont{
  min-height: 80vh !important;
  margin:0px 0px 40px 90px;
}

.chart-row{
  margin: 22px 0px;

}

.btn{
  cursor: pointer;
}

/* Animations */

.slide-in-from-left-0{
  animation: 0.6s ease-out 0s 1 slideInFromLeftSide;
}

.slide-in-from-left-1{
  animation: 0.8s ease-out 0s 1 slideInFromLeftSide;
}

.slide-in-from-left-2{
  animation: 1s ease-out 0s 1 slideInFromLeftSide;
}

@keyframes slideInFromLeftSide {
  0% {
    transform: translateX(-110%);
  }

  100% {
    transform: translateX(0%);
  }
}

.zoom-out-0{
  animation: 0.5s ease-out 0s 1 ZoomOut;
}

@keyframes ZoomOut {
  0% {
    transform: scale(0%);
  }

  100% {
    transform: scale(100%);
  }
}